# Capcha
SMARTCAPTCHA_SERVER_KEY = "1234567890"

# CORS
ALLOWED_ORIGINS = ["http://localhost:80", "http://127.0.0.1:80", "http://localhost"]
ALLOWED_HOSTS = ["localhost", "127.0.0.1"]
ALLOWED_METHODS = ["POST"]
ALLOWED_HEADERS = ["Content-Type", "X-Forwarded-For", "X-Real-IP"]

# Email
MAIL_USERNAME = 
MAIL_PASSWORD = 
MAIL_FROM = 
MAIL_PORT = 587
MAIL_SERVER = 
MAIL_FROM_NAME = 
MAIL_STARTTLS = True
MAIL_SSL_TLS = False
USE_CREDENTIALS = True
VALIDATE_CERTS = True

RESEND_MAIL_TO = ["example@example.com"]